<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/lapandilla/css/style.css">

    <title>Mi Pawndilla - Tu perro consentido | ¡Espéranos!</title>

  </head>
  <body>

    <section class="main-fold">
      <div class="container-fluid">
        <div class="col-12 col-lg-6">
          <div class="content">
            <h1 class="title-1">La educación comienza en casa y la diversión empieza con</h1>
            <img src="/static/lapandilla/assets/images/logo.svg" alt="Mi Pawndilla - Tu perro consentido" class="logo">
            <h2 class="title-2">Más que una guardería <strong>somos un lugar recreativo</strong></h2>
            <div class="social">
              <h3 class="title-3">¡Espéranos!</h3>
              <ul class="social-links">
                <li class="social-links__item">
                  <a href="https://www.facebook.com/mipawndilla/" target="_blank" class="social-links__link" title="Ver Facebook"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="social-links__item">
                  <a href="https://www.instagram.com/mipawndilla/" target="_blank" class="social-links__link" title="Ver Instagram"><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- fonts -->

  </body>
</html>